<div *ngIf="!login">
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile> <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items:center;">
    GROUP TASK WEB LOGIN
    <img style="height:100px; width: 100px; margin-top: 10px;"src="/assets/1.png">
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="2:2">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile >
    <div style="display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;">
    <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl"  placeholder="Ex. pat@example.com">
    <mat-icon matSuffix>mail</mat-icon>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Indirizzo mail non riconosciuto
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      E' <strong>richiesto</strong> l'inserimento della mail
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordControl"  placeholder="Ex. Password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="passwordControl.hasError('required')">
      E' <strong>richiesto</strong> l'inserimento della password
    </mat-error>
  </mat-form-field>
</form>
<button mat-stroked-button (click)="submitLogin()">login</button>
</div>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>

</mat-grid-list>
</div>

